@import url('layout.css');
@import url('actions.css');
@import url('buttons.css');
@import url('cards.css');
@import url('color_palette.css');
@import url('forms.css');
@import url('modals.css');
@import url('segmented-controls.css');
@import url('shadows.css');
@import url('tabs.css');
@import url('dark_mode.css');

* {
    font-family: "Inter";
}

.center {
    bottom: 50%;
    transform: translate(0%,50%);
    position: absolute;
}

.text-center {
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%
}

particle {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: -1;
  }
